.left {
  display: flex;
  margin-top: 50px;
  margin-right: 150px;
  flex-direction: column;
  gap: 25px;
  place-content: left;
  place-items: left;
  flex-grow: 1;

  @media (min-width: 600px) {
    display: grid;
  }
}

#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 70px 0 0 0px;
  place-content: left;
  place-items: left;
  a {
    color: var(--text-h);
    font-size: 16px;
    border-radius: 6px;
    background: var(--social-bg);
    display: flex;
    padding: 6px 12px;
    align-items: center;
    color:blue;
    gap: 8px;
    text-decoration: none;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: var(--shadow);
    }
    .button-icon {
      height: 18px;
      width: 18px;
    }
  }
}